.nav-pills li a:hover{
    background-color : lightblue;
}

    .navbar {
        min-height: 5px; /* Set your desired height */
    }

    .navbar-dark .navbar-nav .nav-link {
        padding: 0.5rem 1rem; /* Adjust padding as needed */
    }


    body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    margin: 0;
    padding: 0;
}

.post-form-container {
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid #d1d9e6;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #1da1f2;
    color: #ffffff;
    padding: 8px; /* Adjust padding to make the button smaller */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px; /* Adjust font size if needed */
    width: 60px; /* Set a specific width for the button */
}

.tweet-form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Set a max width for the container */
    margin: 16px;
}

button:hover {
    background-color: #0c7abf;
}
